TUCO_LLM_BASE_URL=https://distribute.wegoo.site/v1
TUCO_LLM_MODEL=gpt-5.6-terra
TUCO_LLM_API_KEY=
TUCO_LLM_TIMEOUT_SECONDS=45
TUCO_VOLC_API_KEY=
TUCO_VOLC_ASR_RESOURCE_ID=volc.bigasr.sauc.duration
TUCO_VOLC_TTS_RESOURCE_ID=seed-tts-2.0
TUCO_VOLC_TTS_VOICE_TYPE=zh_female_vv_uranus_bigtts
TUCO_DEVICE_TOKEN=
TUCO_ADMIN_TOKEN=
TUCO_MAX_AUDIO_BYTES=524288
TUCO_PIPELINE_TIMEOUT_SECONDS=120
